page-home {

}
Button {
    margin-left: 16;
    margin-right: 16;

  }
  .start-button {
    background-color: #3200CB;
    color: white;

  }
  .stop-button {
    background-color: #CB1D00;
    color: white;

  }